<div class="ptg-contact-us-form">
    <h2>Contact Us</h2>
    <form [formGroup]="contactUsForm">
        <input placeholder="First Name" type="text" formControlName="First Name" />
        <input placeholder="Last Name" type="text" formControlName="Last Name" />
        <input placeholder="Company Name" type="text" formControlName="Company Name" />
        <input placeholder="Email" type="text" formControlName="Email" />
        <input placeholder="Phone Number" type="text" formControlName="Phone Number" />
        <input placeholder="Message" type="text" formControlName="Message" />        
    </form>
</div>