@media (min-width: 769px) {
    .ptg-navbar {
        width: 550px;
    }

    .ptg-content {
        margin-top: 150px;
    }
}

@media (max-width: 768px) {
    .ptg-home-above-header {
        display: none;
    }

    .ptg-content {
        margin-top: 50px;
    }
}

.navbar-default {
    box-shadow: 0 2px #e5e5e5;
    background-color: white;
}

.navbar-brand {
    padding: 9px 15px;
}

footer {
    padding: 20px;
    box-shadow: 0 2px #e5e5e5;
    background-color: #00273f;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.ptg-home-footer-div {
    margin: 20px 0;
}

.btn-primary {
    background-color: #00273f;
    border-color: #00273f;
    padding: 15px;
}